* {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font-family: 'Open Sans', sans-serif;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
    opacity: 0.7;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
	min-height: 100%;
	background-image: url("https://hd.unsplash.com/photo-1453413453658-27fec8f43f29");
}

.bgimg-2 {
	min-height: 100%;
	background-image: url("https://images.unsplash.com/photo-1473089924218-0ae11b197982?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=168bd5f83f02febf02d3526e86478ba0");
}

.bgimg-3 {
	min-height: 100%;
	background-image: url("https://hd.unsplash.com/photo-1446141788762-7388aa611e72");
}

#hm-bt {
	position: relative;
	top: 175px;
	width: 300px;
}

#para {
	position: relative;
	top: 150px;
	width: 1050px;
}

#para-small {
	margin-top: 155px;

}

#navName {
	left: 20px;
	top: -10px;

}

#nav-name {
	font-size: 30px;
	position: relative;
	top: -15px;
	left: 25px
}

/*               */

#about {
	height: 875px;
	width: 100%;
	margin: 150 auto;
}

#projects {
	height: 875px;
	width: 100%;
	margin: 0 auto;
}

#proj {
	position: relative;
	top: 175px;
	width: 300px;
}

#proj-para
{
	position: relative;
	top: 225px;
	width: 550px;
}


#contact {
	height: 875px;;
	width: 100%;
	margin: 0 auto;
}

/*               */



#home {
	height: 875px; width: 100%; margin: 0 auto;
}

#home p {
	margin-left: auto;
    margin-right: auto;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	color: white;
}
