* {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font-family: 'Open Sans', sans-serif;
}

#intro p {
	margin-left: auto;
    margin-right: auto;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 32px;
	width: 1300px;
	color: white;
	padding-top: 300px;
}

/*               */

#about {
	height: 875px;
	width: 100%;
	margin: 150 auto;
	background-color: #D5D6D2;

}



/*               */

#projects {
	height: 875px;
	width: 100%;
	margin: 0 auto;
}


#contact {
	height: 875px;;
	width: 100%;
	margin: 0 auto;
}


#home {
	height: 875px; width: 100%; margin: 0 auto;
}

#home p {
	margin-left: auto;
    margin-right: auto;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	color: white;
}

